<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @diary.title%>
      </p>
      <% if current_user == @diary.user %>
        <%= link_to current_user.name, user_path(@diary.user.id), class: :prototype__user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_diary_path, class: :prototype__btn %>
          <%= link_to "削除する", diary_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">練習メニュー</p>
          <p class="detail__message">
            <%= @diary.menu %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">反省</p>
          <p class="detail__message">
            <%= @diary.reflection %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if current_user %>
          <%= form_with model: [@diary, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
            <li class="comments_list">
              <% @comments.each do |comment| %>
                <p>
                  <%= comment.text %>
                  <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
                </p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
