<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">予定保存</h2>
      <%= form_with(model: @event, local: true) do |form| %>

      <div class="title">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

        <div class="time">
        <%= form.label :start_time %>
        <%= form.datetime_select :start_time %>
      </div>

      <div class="content">
        <%= form.label :content %>
        <%= form.text_field :content %>
      </div>


      <div class="submit">
        <%= form.submit class: :form__btn %>
      </div>

    <% end %>

    </div>
  </div>
</div>